/* NEW FLUID LAYOUT AND COLOR CORRECTION */
body {
  color: #000000;
  background-color: #f9f8f6;
  line-height: 1.4em;
  margin: 1%;
  font-size: 18px;
}
#wrapper {
  margin-right: auto;
  margin-left: auto;
  width: 98%;
}
header {
  /* background-color: #e4e4e4; */
  width: 100%;
  text-align: center;
  height: 2em;
  margin-top: 0;
}
nav {
  /* padding-bottom: 2.6595745%;
  padding-right: 1.0416667%;
  padding-left: 1.0416667%; */
  margin-top: 0;
  width: 72.7083333%;
  display: inline-block;
}
nav ul li {
  display: inline;
  text-align: center;
  margin-top: 0;
}
nav ul li a {
  text-decoration: none;
  color: black;
  padding: 3%;
}
nav li a:hover, nav li a.current {
  text-decoration: underline;
  color: #212121;
}
aside {
  font-family: Georgia, Times, serif;
  margin-top: 58px;
  padding-right: 1.0416667;
  margin-right: 1.0416667;
  margin-left: 1.0416667;
  /* float: left; */
  width: 22.7083333%;
}
aside section a {
  display: block;
}
.articles {
  font-family: Georgia, Times, serif;
  margin-top: 58px;
  margin-right: 1.0416667;
  /* float: right; */
  width: 72.7083333%;
}
h1, h2, h3 {
  font-family: Impact, fantasy;
  font-weight: 100;
}
footer {
  font-style: italic;
  font-size: 0.5em;
  float: center;
  background-color: #e4e4e4;
  text-align: center;
  margin-top: 20px;
  margin-right: 1.0416667;
  margin-left: 1.0416667;
  clear: both;
  width: 97.9166667%;
}
/* EXPERIMENTAL */
/* ON SOMETHING WIDER THAN 768px */
@media screen and (min-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  aside {
    /* display: inline-block; */
    border-right-color: #e8e8e8;
    border-right-style: solid;
    border-right-width: 0.2066116;
  }
  /* .articles {
    display: inline-block;
  } */
}
/* ON SOMETHING NARROWER THAN 768px */
@media screen and (max-width: 768px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
  aside {
    /* display: block; */
    border-bottom-color: #e8e8e8;
    border-bottom-style: solid;
    border-bottom-width: 0.2066116;
  }
  /* .articles {
    display: block;
  } */
}
/* if on a small device, rearange the sidebar to the top */
/* @media screen and (max-width: 768px) {
  #wrapper {
    display: table;
  }
  aside {
    display: table-header-group;
    width: 100%;
    border-right: 0;
    border-bottom-color: #e8e8e8;
    border-bottom-style: solid;
    border-bottom-width: 0.2066116;
  }
  .articles {
    display: table-footer-group;
    width: 100%
  }
} */
