/* The coloring and font */
a {
    text-decoration: underline;
    color: black;
}
a:hover, a:focus {
    color: darkslategrey;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
footer {
    display: inline-block;
    align: left;
}
/* Layout */
/* ON A LARGE DEVICE */
@media screen and (min-width: 768px) {
    #main-content{
        width: 73%;
        float: left;
    }
    aside {
        width: 23%;
        float: right;
        margin-left: 2%;
        padding-left: 1.5%;
        border-left: 2px solid darkslategrey;
    }
}
/* ON A SMALL DEVICE */
@media screen and (max-width: 767px) {
    body {
        text-align: center;
    }
    header, article h3 {
        text-align: left;
    }
    aside {
        border-top: 2px solid darkslategrey;
    }
}
footer {
    float: center;
    text-align: center
}